<a href="https://colab.research.google.com/github/dahee721/class2024/blob/main/2_Python_Basics_2_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # Python Basics (2)

## Data Type: boolean

* Creating Boolean Values
```python
a = True
b = False
```

* Comparison
```python
a == b
a != b
```

* Logical Operation
```python
a and b
a or b
not a
```

## Control Flow: if, elif, else

* Syntax
```python
if condition:
    # execute this block of code
elif another_condition:
    # execute this block of code
else:
    # if none of the above conditions are true, execute this block
```

## Control Flow: for

* Syntax
```python
for item in sequence:
    # execute this block of code for each item in the sequence
```

In [ ]:
for x in [1, 2, 3]:
  print(x)

1
2
3

## Control Flow: while

* Syntax
```python
while condition:
    # execute this block of code as long as the condition is true
```

In [ ]:
count = 0

while count < 5:
  print(count)
  count = count + 1

  #while 조건문이 만족할 때, 밑에 print(count)랑 count=count+1이 돌아감

0
1
2
3
4

## Iterating Over Lists

* Iterating Over Lists
```python
for item in my_list:
    print(item)
```

* List Comprehensions
```python
new_list = [x + 1 for x in range(5)]
```

In [ ]:
a = [0, 1, 2, 3, 4]
b = [] #empty list

# append는 list에다가 데이터를 하나씩 추가하는 함수

for i in a:
  b.append(i+1)

print(b)

#이걸 줄인게 list comprehension

[1, 2, 3, 4, 5]

In [ ]:
c = [0, 1, 2, 3, 4]
d = [i + 1 for i in c]

print(d)

[1, 2, 3, 4, 5]

In [ ]:
e = [0, 1, 2, 3, 4]
f = {}

for i in e:
  f[i] = i + 1

print(f)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

In [ ]:
a = [1, 2, 3, 4]

print(a[0:2])

[1, 2]

In [ ]:
a = {"name": "Luna", "age": 20}

#name이 key고 Luna가 value

for i in a.items():
 print(i)

#위에 쓴 게 tuple임

('name', 'Luna')
('age', 20)

In [ ]:
for k, v in a.items ():
  print (k)
  print (v)
  print ("====")

name
Luna
====
age
20
====

In [ ]:
a = {"name": "Luna", "age": 20}
print(a.keys ())
print(a.values ())

dict_keys(['name', 'age'])
dict_values(['Luna', 20])

## Iterating Over Dictionaries

* Iterating Over Dictionaries
```python
for key, value in my_dict.items():
    print(key, value)
```

* Dictionary Comprehensions
```python
new_dict = {x: x + 1 for x in range(5)}
```

## Function

* Syntax

```python
def function_name(parameters):
    # block of code
    return result
```

* Scope

```python
x = 10

def my_function():
    y = 5
    print(x)  # This will print 10 (global variable)
    print(y)  # This will print 5 (local variable)

my_function()
print(y)  # This will cause an error
```

In [ ]:
#2개의 숫자를 더하는 함수 만들기

def add_numbers(num1, num2):
    result = num1 + num2
    return result

In [ ]:
x = add_numbers(1,2)

In [ ]:
#input이 없는 custom function
#output은 return~인데, Output도 없어도 돌아감

def greetings():
  return "Hello world"

In [ ]:
x = greetings()
print(x)

Hello world

In [ ]:
#scope
x = 10

def my_function():
    y = 5 #local variable 특정 마이펑션이라는 함수 내부에서만 접근가능
    print(x)
    print(y)

my_function()

10
5